  body
 {
	 background-color:white;
 }
 
 .ganpat
 {
	width:100%;
	word-spacing:5px; 
	height:25%;
	background-color:#F39C12  ;
	background-image:url('ict.png');
	background-size:250px 180px;
	background-repeat:no-repeat;
	
 }
 .ganpat h1
 {
	display:inline;
	margin:3px;
    	text-align:center;
 }
 
.nav ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#B82D27;
}

.nav li 
{
    float: right;
	border-right: 1px solid #bbb;
}

.nav li a 
{
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav li a:hover:not(.active) 
{
    background-color:#DC7633;
	color:white;
}

.active {
    background-color:#F39C12;
}

/*.nav.active {
    background-color: #4CAF50;
}

.nav
 {
	 background-color:green;
 }
.nav input
{
	float:right;
	
}

.nav a
{
	float:right;
    padding:3px;
	word-spacing:10px;
	background-color:white;
}*/

.row:after {
    content: "";
    display: table;
    clear: both;
}
.col
{
    float: left;
    padding: 10px;
}

	/*For class Left*/
	
.col.left
{
	width:20%;
	padding-left:1px;
}
.col.left ul
{
    list-style-type: none;
    margin:0;
    padding:10px;
    width: 200px;
	height:400px;
    background-color:#B82D27;
}

.col.left li a 
{
    display: block;
    color:white;
    padding: 20px 40px;
    text-decoration: none;
}

.col.left li a:hover 
{
    background-color:#DC7633;
    color: white;
}


	/*For class middle*/
	
.col.middle
{
	float:left; 
	width:76%; 
	
}
.col.middle p
{
	
  word-spacing:7px;	
}

/*For class Footer*/
.footer
{
	position:auto; 
	width:100%;
	height:20%;
}
.footer h5
{
	text-align:center;
	background-color:#B82D27;
	color:white;
}